@media screen and (max-width: 950px) {

    #close-btn{
        display: none;
    }
    .header__container{
        justify-content: space-between;
        flex-direction: column;
    }

    .header__container .section__navbar{
        transform: translateY(-500px);
    }

    .header__container i{
        display: block;
        position: fixed;
        top: 20px;
        right: 15px;
        font-size: 20px;
        position: relative;
    }

    .header__container .section__title{
        width: 100%;
        text-align: start;
        padding-left: 20px;
    }

    .section__navbar{
        width: 100%;
        background: #fff;
    }
    
    .header__container .section__navbar ul {
        border-bottom: 1.5px solid #f5f5f5;
    }
    .header__container .section__navbar ul li:nth-child(1){
        margin-left: 0;
    }

    .header__container .section__navbar ul li{
        margin-left: 0;
    }

    .header__container .section__navbar ul li:last-child{
        margin-bottom: 40px;
    }

    .header__container .section__navbar ul li{
        display: flex;
        flex-direction: column;
        padding-left: 45px;
    }

    .header__container .section__navbar ul li a{
        display: inline;
        width: auto;
    }

    .header__container .section__navbar ul li a{
        position: relative;
        max-width: fit-content;
        color: #000;
    }
    
    .header__container .section__navbar ul li a:hover::after{
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        top: 20px;
        left: 0;
        background-color: black;
    }

    .header__container .section__subscribe {
        position: static;
    }

    .header__container i{
        position: fixed;
        top: 23px;
        right: 25px;
    }

    .hamburgerMenuActive{
        display: block !important;
    }

    .hambugerMenuHide{
        display: none !important;
    }

    .hideMenuSection{
        transform: translateY(-500px) !important;
    }

    .showMenuSection{
        transform: translateY(0px) !important;
    }
}