* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Header Section Styles */

.header__container {
  width: 100%;
  height: 60px;
  display: flex;
  background: white;
  justify-content: space-around;
  border-bottom: 1.5px solid #f5f5f5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* Title Section Inside Header */
.header__container .section__title {
  font-size: 21px;
  font-weight: 500;
  width: 20%;
  text-align: right;
  padding-top: 20px;
}

.section__navbar {
  width: 55%;
}

.header__container .section__navbar ul {
  list-style: none;
}

.header__container .section__navbar ul li {
  display: inline-block;
  padding-top: 25px;
  margin: 0 10px;
}

.header__container .section__navbar ul a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.header__container .section__navbar ul li:nth-child(1) {
  margin-left: 50px;
}

@keyframes hoveringEffect {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.header__container .section__navbar ul li a{
  position: relative;
}

.header__container .section__navbar ul li a:hover::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: -16px;
  left: 0;
  animation: hoveringEffect 0.3s ease-out forwards;
}

/* Subscribe Section Inside Header */

.section__subscribe {
  width: 25%;
}

.header__container .section__subscribe ul {
  list-style: none;
}

.header__container .section__subscribe ul li {
  display: inline-block;
}

.header__container .section__subscribe ul a {
  text-decoration: none;
  color: black;
}

.header__container .section__subscribe .subscribe li {
  padding-top: 25px;
  margin-left: 25px;
}

.header__container .section__subscribe .subscribe ul li a {
  font-size: 14px;
  position: relative;
}

.section__subscribe .subscribe ul li:nth-child(1) a:hover::after{    
  content: "";
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: -16px;
  left: 0;
  animation: hoveringEffect 0.3s ease-out forwards;
}

.section__subscribe .subscribe .subscribe__link{
    background-color: #000;
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
}

.header__container i {
    display: none;
}


/* Main Content Section Styles */

.main__content{
  width: 100%;
  height: 300px;
  border-bottom: 1.5px solid #f5f5f5;
}

.main__content .title{
  text-align: center;
  padding-top: 100px;
  font-size: 60px;
  font-weight: 500;
}

.main__content .desc{
  text-align: center;
  padding-top: 25px;
  font-size: 19px;
  width: 400px;
  margin: 0 auto;
  line-height: 1.2;
  color: #7D849A;
}

/* Content Section Styles */

.main__container{
  width: 100%;
  min-height: 300px;
}

.content__section{
  width: 80%;
  margin: 0 auto;
}

.main_container{
  margin-top: 75px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  border-bottom: 1px solid #f5f5f5;
}

.content__container {
  width: 90%;
}

.content__section a{
  text-decoration: none;
  cursor: pointer;
  color: #000;
}


.content__container h3{
  font-weight: 500;
  font-size: 26px;
  text-decoration: none;
}

.content__container  p{
  font-size: 16px;
  color: #7D849A;
  margin-top: 25px;
  width: 70%;
  text-align: start;
  text-decoration: none;
}

.image_container img{
  width: 100%;
  border-radius: 20px;
}

.inbox__section{
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #f5f5f5;
}

.inbox__section h2{
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  width: 500px;
  margin: 0 auto;
  padding-top: 70px;
}

.inbox__section input{
  width: 600px;
  height: 50px;
  display: inline-block;
  margin: 20px auto 0;
  border-radius: 50px;
  border: none;
  background: #F0F0F0;
  padding-left: 20px;
}

.inbox__section button{
  border: none;
  background-color: #000;
  color: white;
  padding: 15px 30px;
  border-radius: 60px;
}